@import "_normalize.scss"
@import "_reset.scss"

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    height: 800px
    background: #DFDFDF
    padding-top: 18px 

    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 127px
        align-items: center

.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 70px
        &:last-child
            margin-right: 0
