@import "_normalize.scss"
@import "_reset.scss"

$color-blue: #615FDF
$color-orange: #F07835

@font-face 
    font-family: "_Montserrat"
    src: url('../fonts/Montserrat-Regular.ttf')
    font-weight: regular
    font-style: normal

@font-face 
    font-family: "_Montserrat"
    src: url('../fonts/Montserrat-SemiBold.ttf')
    font-weight: bold
    font-style: normal

*
    box-sizing: border-box

html
    font-family: "_Montserrat"

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    position: relative
    min-height: 800px
    background: #DFDFDF
    padding-top: 18px 
    overflow: hidden

    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 82
        align-items: center

    &__logo
        width: 159px
        color: black

    &__content-container
        position: relative
        display: flex
        flex-direction: row

    &__first-ellipse
        position: absolute
        top: 106px
        right: -36px    

    &__second-ellipse
        position: absolute
        top: 650px
        right: -120px


.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        font-weight: bold
        margin-right: 70px
        font-size: 18px
        &:last-child
            margin-right: 0
        a
            text-decoration: none
            color: black


.left-wrapper
    position: relative
    img
        position: relative
        z-index: 5
    &__rectangle-blue
        position: absolute
        top: 150px
        left: -50px
        transform: rotate(-65.5deg)
        width: 532.19px
        height: 220px
        background-color: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) 
        z-index: 2
    &__rectangle-orange
        position: absolute
        top: 160px
        left: -30px
        transform: rotate(-50deg)
        width: 591.26px
        height: 220px
        background-color: $color-orange
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) 
        z-index: 3
    &__rectangle-grey
        position: absolute
        top: 200px
        left: 20px
        transform: rotate(-37deg)
        width: 528.43px
        height: 220px
        background-color: #B6B6C5
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) 
        z-index: 1

.right-wrapper
    width: 413px
    position: absolute
    top: 125px
    right: -10px
    z-index: 6
    &__text
        font-size: 20px
        margin-bottom: 20px
    &__icons_box
        padding-left: 10px

.icons
    display: flex
    flex-direction: row
    &__item
        display: flex
        justify-content: center
        align-items: center
        width: 40px
        height: 40px
        border: 1px solid #3443CA
        border-radius: 100px
        margin-right: 21px
        &:last-child
            margin-right: 0px
        i
            font-size: 25px

.title
    font-size: 72px
    position: relative
    margin-bottom: 15px
    font-weight: bold
    &__hr
        position: absolute
        width: 75px
        bottom: 0
        margin: 0
        border: none
        border: 1px solid black
        &_top
            bottom: 75px
    
.buttons
    display: flex
    flex-direction: row
    &__main-btn
        margin-right: 22px
        width: 220px
        height: 63px
        background: $color-orange
        border-radius: 100px
        border: none
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) 
        font-size: 18px
        color: white
        font-weight: bold
    &__icon-btn
        display: flex
        flex-direction: row
        align-items: center
        img
            margin-right: 11px

.ellipse
    display: flex
    width: 210px
    height: 210px
    background: linear-gradient(144.71deg, rgba(66, 71, 187, 0.6) 14.55%, rgba(54, 40, 190, 0.579139) 19.04%, rgba(224, 81, 0, 0.384) 59.93%, rgba(191, 41, 41, 0.6) 86.44%)
    border-radius: 150px
    justify-content: center
    align-items: center
    &_big
        width: 282px
        height: 282px
    &__subtract
        width: 136.32px
        height: 136.32px
        border-radius: 150px
        background: #DFDFDF
        &_big
            width: 183px
            height: 183px
        &_white
            background: #FFFFFF

.second-section
    overflow: hidden
    min-height: 700px
    &__container
        position: relative
        padding-top: 30px
    &__title
        margin-bottom: 40px
    &__cards-block
        display: flex
        flex-direction: row
        justify-content: center
        margin-bottom: 40px
    &__cards-item
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__icons-block
        display: flex
        justify-content: space-evenly
        &:last-child
            margin-right: 0
    &__first-ellipse
        position: absolute
        right: -68px
        top: 61px
        z-index: -1
    &__second-ellipse
        position: absolute
        top: 360px
        left: -105px
        z-index: -1


.cards-item
    position: relative
    width: 360px
    height: 360px
    background-color: #CBCBCB
    display: flex
    align-items: flex-end
    border-radius: 8px
    &__img
        height: 335px
    &__text
        font-size: 36px
        width: 270px
        text-align: center
        transform: rotate(90deg)
        position: absolute
        top: 143px
        right: -40px
    &_orange
        background-color: $color-orange
    &_blue
        background-color: $color-blue

.icons-item
    display: inline-flex
    align-items: center
    &__text
        font-size: 18px
        span
            font-size: 48px
            font-weight: bold
    &__img
        width: 80px
        margin-right: 10px

.third-section
    position: relative
    min-height: 628px
    background: #DFDFDF
    overflow: hidden
    z-index: 0
    &__container
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        padding-left: 113px
        padding-top: 30px
        justify-content: space-between
    &__right-wrapper
        max-width: 480px
    &__text
        font-size: 18px
        margin-bottom: 20px
    &__first-ellipse
        position: absolute
        z-index: -1
        top: 88px
        left: 78px
    &__second-ellipse
        position: absolute
        z-index: -1
        top: 172px
        left: 9px
    &__third-ellipse
        position: absolute
        z-index: -1
        top: -120px
        right: -270px

.footer
    position: relative
    &__container
        min-height: 272px
        display: flex
        align-items: center
        justify-content: flex-end
        overflow: hidden
    &__img
        position: absolute
        left: 0px
        bottom: -10px

@media (max-width: 1199px)
    .container
        width: 960px
    .main-section
        min-height: 700px
        &__second-ellipse
            top: 556px
    .left-wrapper
        img
            width: 750px
        &__rectangle-blue
            top: 125px
            left: -49px
            width: 480px
            height: 200px
        &__rectangle-orange
            top: 134px
            left: -30px
            width: 530px
            height: 200px
        &__rectangle-grey
            top: 160px
            left: 20px
            width: 480px
            height: 200px
    .right-wrapper
        right: -5px
    .cards-item
        width: 300px
        height: 300px
        margin-right: 20px
        &__img
            height: 280px
        &__text
            font-size: 32px
            top: 125px
            right: -57px
    .second-section
        min-height: 600px
        &__cards-block
            margin-bottom: 20px
        &__second-ellipse
            top: 285px
    .third-section
        &__container
            padding-left: 50px
        &__third-ellipse
            right: -193px
        &__second-ellipse
            top: 174px
            left: -8px
        &__first-ellipse
            top: 106px
            left: 43px
        &__right-wrapper
            width: 450px
    .footer__img
        width: 410px
        bottom: 0

@media (max-width: 991px)
    .container
        width: 720px
    .main-section
        min-height: 550px
        &__first-ellipse
            top: 25px
            right: -23px
        &__second-ellipse
            top: 450px
            right: -50px
    .left-wrapper
        img
            width: 527px
        &__rectangle-blue
            top: 76px
            left: -23px
            width: 333px
            height: 158px
        &__rectangle-orange
            top: 71px
            left: -12px
            width: 383px
            height: 158px
        &__rectangle-grey
            top: 97px
            left: 23px
            width: 343px
            height: 158px
    .right-wrapper
        width: 356px
        right: -15px
        top: 25px
        &__title
            margin-bottom: 5px
        &__text
            font-size: 18px
        &__icons_box
            margin-bottom: 5px
    .second-section
        min-height: 415px
        margin-bottom: 20px
        &__container
            padding-top: 15px
        &__cards-block
            margin-bottom: 20px
        &__first-ellipse
            top: 57px
            right: -19px
        &__second-ellipse
            top: 200px
            left: -22px
        &__title
            margin-bottom: 15px
    .icons-item
        &__img
            width: 60px
        &__text
            font-size: 14px
            span
                font-size: 36px
    .cards-item
        width: 220px
        height: 220px
        margin-right: 20px
        &__img
            height: 200px
        &__text
            font-size: 24px
            top: 85px
            right: -78px
    .third-section
        min-height: 500px
        &__container
            padding-left: 50px
            justify-content: start
        &__left-title
            display: none
        &__third-ellipse
            top: -60px
            right: -80px
        &__second-ellipse
            top: 256px
            width: 180px
            left: 35px
        &__first-ellipse
            top: 184px
            left: 121px
        &__right-wrapper
            width: 585px
            max-width: 585px
    .footer__img
        width: 410px
        bottom: 20px
        left: -180px
    .title
        font-size: 64px
    .ellipse
        width: 170px
        height: 170px
        &__subtract 
            width: 105.32px
            height: 105.32px
    .buttons
        &__main-btn 
            margin-right: 10px
            width: 195px
    .title__hr_top 
        bottom: 63px


@media (max-width: 767px)
    .container
        width: 540px

@media (max-width: 575px)
    .container
        width: 100%